<div id="study_logo"><img src="<%= image_url('study.jpg') %>" /></div>
<hr>
<div class="chat">
	<div class="iwark">
		<img src="<%= image_url('iwark.jpg') %>" />
	</div>
	<div class="contents">
		<strong>いわーく:</strong><br />
		「やるやる詐欺」終了のお知らせです！　勉強会やります！
	</div>
</div>
<div class="chat">
	<div class="iwark">
		<img src="<%= image_url('tom.jpg') %>" />
	</div>
	<div class="contents">
	<strong>トミー:</strong><br />
		（なんだこの変なサイトは...。）よっしゃー、全参加するぞ！
	</div>
</div>
<div class="chat">
	<div class="iwark">
		<img src="<%= image_url('wata.jpg') %>" />
	</div>
	<div class="contents">
		<strong>わたぼう:</strong><br />
		（ロゴは俺っちが描いたぜ...。）でも、お高いんでしょ？
	</div>
</div>
<div class="chat">
	<div class="iwark">
		<img src="<%= image_url('iwark.jpg') %>" />
	</div>
	<div class="contents">
		<strong>いわーく:</strong><br />
		いいえ、<b>無料</b>です！（場所代無ければ...）
	</div>
</div>
<div class="chat">
	<div class="iwark">
		<img src="<%= image_url('tom.jpg') %>" />
	</div>
	<div class="contents">
	<strong>トミー:</strong><br />
		（当たり前だろ...。）
	</div>
</div>
<div class="chat">
	<div class="iwark">
		<img src="<%= image_url('iwark.jpg') %>" />
	</div>
	<div class="contents">
		<strong>いわーく:</strong><br />
		... 毎回テストやってさ、参加者同士で競ったら面白いかなぁ？
	</div>
</div>
<hr>
<h2>大体こんな感じの方向性</h2>

<p>最近スクール生を中心に、<b>生徒のレベルが急上昇してきている</b>ことをご存知ですか。<br />教える側として、恥じることのないスキルを身につけませんか、という感じ。</p>
<p><b>対象者:</b><br />
	・プログラミング初心者。上級者に話すことは<b>アリマセン</b>。緊張する（）<br />
	・プログラマと共同作業をすることがある/したい人<br />
	・<b>いわーくの話を聞きたい人（※重要）</b>

<%= render 'members/summary' %>
<%= render 'devise/registrations/new' %>


